@model eBookCommerce.Models.eBookCommerceViewModel

<div class="col-md-3">
    @{
        Html.RenderPartial("_Sidebar");
    }
</div>

<div class="col-md-3">
    <form class="d-flex" role="search">
        <input class="form-control me-1 my-text-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-button" type="submit">Search</button>
    </form>
</div>

<div class="col-md-3">
    @Html.DropDownList("bookType", Model.genresSelectList, new { @class = "form-select my-text-input" })
</div>