
@{
    ViewBag.Title = "Book";
}

<div>
    <h3>Books</h3>

    <button type="button" class="btn btn-danger float-end" @*onclick="deleteAllBooks()*@ style="margin: 20px 5px">Delete All Books</button>
    <button type="button" class="btn btn-primary float-end" onclick="showBookFormModal(0)" style="margin: 20px 5px">Create New Book</button>

    <table id="booksDataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Book Pages</th>
                <th>Book Price</th>
                <th>Book Image</th>
                @*<th>Book Description</th>*@
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>

    @{
        Html.RenderPartial("_BookFormModal");
    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#booksDataTable").DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "Book/BooksToGrid",
                    "type": "POST",
                }
            });
        });

        function createOrEditBook(bookId) {
            var data = $("#bookForm").serialize();
            console.log(data);

            /*$.blockUI({ css: { backgroundColor: '#f00', color: '#fff' } });*/

            $.ajax({
                url: "/Book/CreateOrEditBook?bookId=" + bookId,
                type: "POST",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: data,
                success: function (result) {                    
                    if (result == true) {
                        toastr.success("Book was created successfully!!!")
                        //window.location = "Home";

                        //$.unblockUI();
                    }
                },
                error: function (error) {
                    console.log(error);

                    //$.unblockUI();
                }
            })
        }

        function removeBook(bookId) {  
            $.ajax({
                url: "/Book/RemoveBook?bookId=" + bookId,
                type: "POST",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (result) {  
                    if (result == true) {
                        toastr.success("Book was removed successfully!!!");
                        //window.location = "Book";
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        function showBookFormModal(bookId = 0) {
            $('#bookFormModal').modal('show');            
            $("#saveBtn").click(function () {
                createOrEditBook(bookId);
            });
        }
    </script>
}